# Web framework
fastapi
uvicorn
python-multipart

# Core ML/AI
torch
torchaudio
sentence-transformers
transformers
scikit-learn
faiss-cpu  # For CPU version of FAISS library

# NLP
# spacy
# Install en_core_web_sm model separately with: python -m spacy download en_core_web_sm

# Google Cloud
google-cloud-speech
google-generativeai
google-auth

# Media processing
moviepy
imageio
imageio-ffmpeg
PySoundFile

# Utilities
tqdm
python-dotenv
pydantic
numpy
pandas
requests==2.32.3

# CORS
starlette
